<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="LangTestApp01" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:50300/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="true" destination="https://langford.ca/events" exactDestination="true" />
    </system.webServer>
</configuration>
